//
// Variables
// --------------------------------------------------

$spacer-x: 300rem;

//== Colors
//
//## Gray and brand colors for use across Bootstrap.

// Redefined Gray colors for theme
$gray-darker:            #19212a;
$gray-dark:              #283544; //  37474F
$gray:                   #504d56; // #dde6e9
$gray-light:             #909FA7; // #e4eaec
$gray-lighter:           #edf1f2;

// Classic brand colors

// linear-gradient(-90deg,#3FA8B0 0,#1CB197 100%)

$brand-primary:          #ffffff; // #387ef5; // #1074ae; // #539a63; // 1370e1
$brand-success:          #26CB83; // #5fba7d;
$brand-info:             #3fa9e2; // #23b7e5;185eac
$brand-warning:          #f7ad0f; // #ff902b;eda929
$brand-danger:           #ee644c; // #f05050;e53215

// New brand colors

$brand-inverse:          #131e26;
$brand-green:            #37bc9b;
$brand-pink:             #f532e5;
$brand-purple:           #7266ba;
$brand-dark:             #3a3f51;
$brand-yellow:           #fad732;

// Border colors

$border-color-light:     #dde6e9; // #c9d7df
$border-color:           #A5B9C5;
$border-color-dark:      #768994;

// Brand color Variants

$amountOfLight: 10%;

$brand-primary-light:          lighten($brand-primary, $amountOfLight);
$brand-success-light:          lighten($brand-success, $amountOfLight);
$brand-info-light:             lighten($brand-info, $amountOfLight);
$brand-warning-light:          lighten($brand-warning, $amountOfLight);
$brand-danger-light:           lighten($brand-danger, $amountOfLight);
$brand-inverse-light:          lighten($brand-inverse, $amountOfLight);
$brand-green-light:            lighten($brand-green, $amountOfLight);
$brand-pink-light:             lighten($brand-pink, $amountOfLight);
$brand-purple-light:           lighten($brand-purple, $amountOfLight);
$brand-dark-light:             lighten($brand-dark, $amountOfLight);
$brand-yellow-light:           lighten($brand-yellow, $amountOfLight);

$brand-primary-dark:           darken($brand-primary, $amountOfLight);
$brand-success-dark:           darken($brand-success, $amountOfLight);
$brand-info-dark:              darken($brand-info, $amountOfLight);
$brand-warning-dark:           darken($brand-warning, $amountOfLight);
$brand-danger-dark:            darken($brand-danger, $amountOfLight);
$brand-inverse-dark:           darken($brand-inverse, $amountOfLight);
$brand-green-dark:             darken($brand-green, $amountOfLight);
$brand-pink-dark:              darken($brand-pink, $amountOfLight);
$brand-purple-dark:            darken($brand-purple, $amountOfLight);
$brand-dark-dark:              darken($brand-dark, $amountOfLight);
$brand-yellow-dark:            darken($brand-yellow, $amountOfLight);

//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg:               #000000; // #f0f4f7 !default;
//** Global text color on `<body>`.
$text-color:            #ffffff; // #37474F;
$text-color-dark:       #20292e;
$text-color-light:      #6e8593; // 6e8593
$text-color-lighter:    #bbc8d0;

//** Global textual link color.
$link-color:            $brand-primary;
//** Link hover color set via `darken()` function.
$link-hover-color:      darken($link-color, 15%);
//** Link hover decoration.
$link-hover-decoration: underline;
