doctype html
html(lang="nl", data-ng-app="avit.app", ng-strict-di="true")

  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')

    title(data-ng-bind="pageTitle()") Cafe de Buren
    meta(name='description', content='Cafe de Buren')

    base(href="/")

    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Roboto:300,400,500|Roboto+Slab:400,300,700')

    link(rel='stylesheet', href='styles/main.css')

  body

    #fb-root

    .wrapper(data-ui-view="", data-autoscroll="false")
    div(growl="")

    <!--[if lte IE 9]>
    .ie-warning
      h1 Browser verouderd
      p
        | U gebruikt een oude versie van Internet Explorer. Upgrade uw versie
        br
        | of download een moderne browser om deze website te kunnen gebruiken.
      .iew-container
        ul.iew-download
          li
            a(href='http://www.google.com/chrome/')
              img(src='shared/img/browsers/chrome.png', alt='')
              div Chrome
          li
            a(href='https://www.mozilla.org/en-US/firefox/new/')
              img(src='shared/img/browsers/firefox.png', alt='')
              div Firefox
          li
            a(href='http://www.opera.com')
              img(src='shared/img/browsers/opera.png', alt='')
              div Opera
          li
            a(href='https://www.apple.com/safari/')
              img(src='shared/img/browsers/safari.png', alt='')
              div Safari
          li
            a(href='http://windows.microsoft.com/en-us/internet-explorer/download-ie')
              img(src='shared/img/browsers/ie.png', alt='')
              div IE 10+
    <![endif]-->

    .container-fluid
      .row
        .col-lg-6.push-3.content
          header.mt-5
            img.logo(src="images/logo.svg")
          section.mt-5
            h2 Adres
            p Markt 28, 6131EL Sittard
            p
              a(href="tel:+31464515904") 046 451 59 04
      .row
        .col-lg-6.push-3.content.mt-5.mb-5
          .fb-page(data-href="https://www.facebook.com/burensittard/" data-tabs="timeline" data-width="500" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true")
            blockquote(cite="https://www.facebook.com/burensittard/" class="fb-xfbml-parse-ignore")
              a(href="https://www.facebook.com/burensittard/") Café de Buren

    script(src="http://code.jquery.com/jquery-2.2.4.min.js", integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=", crossorigin="anonymous")

    script(src='scripts/main.js')